{{#link-to 'course' model.title}}
<img src="{{unbound model.image-info.square2x.url}}" alt="" class="course-image">
<h4 class="course-title">
    {{unbound model.title}}
</h4>
{{/link-to}}
<p class="course-summary">
    {{unbound model.summary}}
</p>
{{yield}}