{{yield}}
<img src="{{unbound model.image-info.square2x.url}}" class='course-image'>
<div class="course-title">{{unbound model.title}}</div>
<div class="course-summary">{{unbound model.summary}}</div>