{{yield}}

{{#link-to 'course' model.slug}}
  <img
    class='course-image'
    src={{unbound courseImage}} >

  <h1 class='course-title'>{{unbound model.title}}</h1>
{{/link-to}}
<p class="course-summary">{{unbound model.summary}}</p>