{{#link-to 'course' model.slug}}
<img class='course-image' src={{unbound model.image-info.square2x.url}} alt="">
<h4 class="course-title">{{unbound model.title}}</h4>
{{/link-to}}
<p class="course-summary">
    {{unbound model.summary}}
</p>
{{yield}}
