<img src={{unbound model.image-info.square2x.url}} class="course-image">
<h4 class="course-title">
    {{link-to (unbound model.title) 'course' model.title}}
</h4>
<div class="course-summary">
    {{unbound model.summary}}
</div>
{{yield}}
