<img src={{unbound model.image-info.square2x.url}} alt="" class="course-image">
<h3 class="course-title">
  {{link-to (unbound model.title) 'course' model.slug}}
</h3>
<div class="course-summary">
  {{unbound model.summary}}
</div>
{{yield}}
