<img src={{unbound model.image-info.square2x.url}} alt="" class="course-image">
<h4 class="course-title">{{unbound model.title}}</h4>
{{#if isEmber}}
  <p>This is an ember.js course</p>
{{/if}}
<div class="course-summary">{{unbound model.summary}}</div>
{{yield}}