body {
  font-family: Arial, Helvetica, sans-serif;
}
.course-list-item .course-image {
  max-height: 70px;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}

.x-field {
  margin: 20px;
  padding: 20px;
  background: #ddd;
}