{{!-- The following component displays Ember's default welcome message. --}}
<h1>Hello</h1>

<p>Before</p>
<span style="width: 30px; height: 30px; background: #{{color 255 255 0}}">
  here
</span>
<p>after</p>

{{outlet}}